<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ text.title }}</title>
    <style>
        body { font-family: Arial; margin: 40px; }
        .card { border: 1px solid #ccc; padding: 15px; margin: 10px 0; border-radius: 8px; }
        .ok { background: #e8f5e9; }
        .fail { background: #fdecea; }
    </style>
</head>
<body>

<h2>{{ text.title }}</h2>

<form method="POST">
    <label>Language:</label>
    <select name="lang">
        <option value="en" {% if lang=="en" %}selected{% endif %}>English</option>
        <option value="ml" {% if lang=="ml" %}selected{% endif %}>മലയാളം</option>
    </select>
    <br><br>

    Age: <input type="number" name="age" required><br><br>
    Income: <input type="number" name="income" required><br><br>

    Occupation:
    <select name="occupation">
        <option value="farmer">Farmer</option>
        <option value="student">Student</option>
        <option value="any">Other</option>
    </select>
    <br><br>

    <button type="submit">{{ text.check }}</button>
</form>

<hr>

<h3>{{ text.eligible }}</h3>

{% for scheme in schemes %}
<div class="card ok">
    <b>{{ scheme.name }}</b>

    <p><b>Benefit:</b> {{ scheme.benefit }}</p>
    <p><b>Documents Required:</b> {{ scheme.documents }}</p>

    <p><b>Why Eligible:</b></p>
    <ul>
        {% for r in scheme.reasons %}
        <li>{{ r }}</li>
        {% endfor %}
    </ul>

    <a href="{{ scheme.official_link }}" target="_blank">
        🔗 Official Government Link
    </a>
</div>
{% endfor %}

<h3>{{ text.not_eligible }}</h3>
{% for scheme in not_eligible %}
<div class="card fail">
    <b>{{ scheme.name }}</b>
    <a href="{{ scheme.official_link }}" target="_blank">
    🔗 View Official Criteria
</a>
    <ul>
        {% for r in scheme.fail_reasons %}
        <li>{{ r }}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

</body>
</html>